@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply block font-bold text-2xl mt-4 mb-4;
  }

  h2 {
    @apply block font-bold text-xl mt-6 mb-6;
  }

  h3 {
    @apply block font-bold text-lg mt-8 mb-8;
  }

  h4 {
    @apply block font-bold mt-10 mb-10;
  }

  h5 {
    @apply block font-bold text-sm mt-12 mb-12;
  }

  h6 {
    @apply block font-bold text-xs mt-16 mb-16;
  }
}
h1.ce-header,
h2.ce-header,
h3.ce-header {
  padding: 0.6em 0 8px !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 16px !important;
}

.ql-container {
  font-size: 16px !important;
}

/* .dark .editorjs-codeCup_Wrapper {
  background-color: black !important;
}

.codecup__lines .dark {
  background-color: black;
} */

/* @editorjs/quote style override */
.cdx-input.cdx-quote__caption {
  display: none !important;
}
.cdx-input.cdx-quote__text {
  min-height: auto !important;
  color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 0% !important;
  border-top: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
  border-left: 8px solid rgb(221, 223, 228) !important;
  box-shadow: none !important;
  background-color: rgb(238, 240, 244) !important;
  -webkit-border-radius: 0% !important;
  -moz-border-radius: 0% !important;
  -ms-border-radius: 0% !important;
  -o-border-radius: 0% !important;
}

/* .image-tool__image {
  border: 8px !important;
  margin-bottom: 10px !important;
} */

@import '@uploadthing/react/styles.css';
